
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>BigBlueButton - Open Source Webkonferenzen</title>
    <meta name="description" content="BigBlueButton ermöglicht hochqualitative digitale Lernräume und Konferenzen, insbesondere für Schulen und Universitäten">
    <meta name="keywords" content="BigBlueButton, Open Source Webkonferenz, Webkonferenz, Onlinekurse, Open Source, Desktop Sharing, Videokonferenzen, Video Collaboration, Presentation Sharing, Audio Sharing, Voice Collaboration, Public Chat, Webcam Sharing, Annotation, Whiteboard, Integrated Voice Over IP, Kollaborationssoftware, Online Kollaboration, Kollaboratives Lernen, Virtuelle Klassenräume">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <link rel="icon" href="images/favicon.png">

    <link rel="stylesheet" href="/css/bijou.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bbb-bootstrap.css">
    <style>.navbar { margin-bottom: 20px; }</style>
  </head>
  <body>
    <div class='main'>

    <!-- Messages -->
    <div id='messages' class='hidden'>
    </div>

    <!-- Header -->
    <div class='navbar'>
      <div class='container'>
        <div class="logo">
          <img src="/images/bbb-logo.png" width="240" alt="BigBlueButton"/>
        </div>
      </div>
    </div>

    <!-- Body -->
    <div class='container'>
      <!-- Welcome Message & Login Into Demo -->
	 <div class="row">
	   <div class="span six html5clientOnly input-center">
	     <div class="join-meeting ">
	       <h4>Konferenz <em><%= info.meetingName %></em> beitreten</h4>
	       <% if (wrongPw) { %>
	         <div class="alert danger"><p>Falsches Passwort</p></div>
	       <% } %>
	         <form method="POST" action="/easy/<%= room %>">
		   <input type="text" id="name" required="" name="name" <% if (username) { %>value="<%= username %>"<% } %> placeholder="Wählen sie einen Namen" size="29" class="field input-default" autofocus>
		   <% if (requiresPassword) { %>
		     <input type="password" id="room_password" required="" name="room_password" placeholder="Passwort (notwendig)" size="29" class="field input-default">
		   <% } %>
		   <input type="submit" value="Beitreten" class="submit_btn button success large"><br>
		 </form>
	       </div>
	     </div>
	   </div>
	</div>

      <hr class="featurette-divider">

      <!-- BigBlueButton Videos -->
    <!--  Footer -->
    <footer>
      <div class='container'>

	      <div class="row">
	      	<div class="span six first">
		        <p>BigBlueButton und das BigBlueButton logo sind Trademarks der <a href="http://bigbluebutton.org/">BigBlueButton Inc.</a></p>
          </div>
	      	<div class="span six last">
	      	</div>
	      </div> 


	      <div class="row">
	      	<div class="span twelve center">
		        <p>Copyright &copy; 2020 BigBlueButton Inc.
		        </p>
	      	</div>
	      </div>
      </div>
    </footer>
  <script>
    var el = document.getElementById('name');
    if (el.value === "" && !!window.localStorage && window.localStorage.getItem("username") !== null) {
      el.value = window.localStorage.getItem("username");
    }
    el.form.addEventListener('submit', function() {
      if (!!window.localStorage) {
        window.localStorage.setItem("username", el.value);
      }
   });
  </script>
  </body>
</html>
